* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@media (min-width: 768px) {
  .home-container {
    background-color: white;
  }
  .home-content {
    padding-top: 70px;
    width: 100vw;
  }
  .home-top-container {
    background-image: url("https://res.cloudinary.com/dxrdjcafp/image/upload/v1771765394/Hero_Section_wyp8i4.png");
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .home-top-container h1 {
    color: white;
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 1;
    text-align: center;
  }
  .home-top-container p {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
  .search-bar {
    height: 72px;
    width: 670px;
    border-radius: 15px;
    background-color: white;
    font-size: 19px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: none;
  }
}

@media (max-width: 767px) {
  .home-container {
    background-color: white;
    width: 100%;
  }
  .home-content {
    padding-top: 70px;
  }
  .home-top-container {
    background-image: url("https://res.cloudinary.com/dxrdjcafp/image/upload/v1771765394/Hero_Section_wyp8i4.png");
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .home-top-container h1 {
    color: white;
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 1;
    text-align: center;
  }
  .home-top-container p {
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
  }
  .search-bar {
    height: 52px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: none;
  }
}
