.admin-container {
  width: 100vw;
  background-color: #e5e7eb;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.admin-title {
  font-size: 1.5rem;
  color: #1a202c;
  margin-bottom: 2rem;

  padding-bottom: 1rem;
}
.admin-content {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 30px;
}
.stats-grid {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}
.stat-icon {
  color: rgba(58, 101, 233, 1);
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 12px;
  background-color: rgba(58, 101, 233, 0.1);
}
.stat-2-icon {
  color: rgba(245, 158, 11, 1);
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 12px;
  background-color: rgba(245, 158, 11, 0.1);
}
.stat-3-icon {
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 12px;
  color: rgba(16, 185, 129, 1);
  background-color: rgba(16, 185, 129, 0.1);
}
.stat-card {
  background: white;
  padding: 1rem;
  width: 35%;
  border-radius: 12px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease-in-out;
  border: 1px solid #e2e8f0;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h2 {
  color: rgba(100, 116, 139, 1);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.stat-value {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1a202c;
  margin: 0;
}

.admin-loading,
.admin-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.1rem;
}
.retry-btn {
  color: white;
  background-color: #e53e3e;
  border: none;
  outline: none !important;
}

@media (min-width: 768px) {
  .form-box {
    border-radius: 10px;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
  }
  .event-form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .form-top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
  }
  .form-top-box p {
    font-size: 1.5rem;
    font-weight: 900;
    color: #1a202c;
  }
  .form-top-box button {
    background-color: transparent;
    border: 0px;
    outline: none;
    color: #1a202c;
  }
  .close-icon {
    height: 30px;
    width: 30px;
  }
  .name-box {
    color: #1a202c;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .name-box label {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .name-box input {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #e5e7eb;
    background-color: transparent;
    font-size: 16px;
    color: #1a202c;
    border-radius: 10px;
  }
  .name-box textarea {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #e5e7eb;
    background-color: transparent;
    font-size: 16px;
    color: #1a202c;
    border-radius: 10px;
  }
  .name-box input:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #016bdc;
  }
  .name-box textarea:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #016bdc;
  }
  .organizer-box {
    display: flex;
    gap: 10px;
  }
  .organizer-box span {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
  }
  .organizer-box span label {
    font-size: 0.9rem;
    font-weight: 700;
    color: #1a202c;
  }
  .organizer-box span input {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #e5e7eb;
    background-color: transparent;
    font-size: 16px;
    color: #1a202c;
    border-radius: 10px;
  }
  .organizer-box span input:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #016bdc;
  }
  .send-form {
    border-top: 1px solid #e5e7eb;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .event-cancel-btn {
    background-color: transparent;
    border: 1px solid #e5e7eb;
    color: #1a202c;
    outline: none !important;
  }
  .event-cancel-btn:hover {
    border: 2px solid #dc0101;
  }
  .event-create-btn {
    background-color: #016bdc;
    color: white;
    outline: none !important;
  }
  .event-create-btn:hover {
    background-color: #0c81ff;
  }
  .error {
    color: #e53e3e;
    text-align: center;
  }
  .admin-mobile {
    display: none;
  }
  .event-admin-box {
    background-color: white;
    border-radius: 13px;
    color: #1a202c;
    border: 2px solid #e5e7eb;
    margin-top: 32px;
  }
  .search-event-box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-event-box input {
    background-color: #e2e8f0;
    border: 0px;
    outline: none;
    color: #1a202c;
    border-radius: 11px;
    height: 36px;
    width: 300px;
    padding: 5px;
    font-size: 14px;
  }
  .search-event-box h1 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .search-event-box p {
    color: rgba(100, 116, 139, 1);
  }
  .admin-event-list {
    list-style-type: none;
    margin-left: -40px;
  }
  .admin-event-list li {
    border-top: 1px solid rgba(226, 232, 240, 1);
    border-bottom: 1px solid rgba(226, 232, 240, 1);
  }
  .admin-event-list li:hover {
    background-color: rgba(248, 250, 252, 1);
  }

  .list-names {
    padding: 10px 20px 10px 20px;
    color: rgba(100, 116, 139, 1);
    display: flex;
    align-items: center;
    background-color: rgba(248, 250, 252, 1);
    justify-content: space-between;
  }

  .admin-event-img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }
  .action {
    text-align: right;
  }
  .list-items {
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list-name-image {
    flex: 2;
  }

  .list-item-image {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 2;
  }
  .list-item-name {
    font-size: 14px;
    color: #1a202c !important;
    font-weight: 600;
    line-height: 1;
  }
  .list-item-location {
    font-size: 12px;
    color: rgba(100, 116, 139, 1);
    font-weight: 300;
    line-height: 1;
  }
  .date-span {
    flex: 1;
    font-size: 14px;
    text-align: center;
  }
  .active-span {
    flex: 1;
    text-align: center;
    font-size: 14px;
  }
  .capacity-span {
    flex: 1;
    color: #1a202c;
    font-size: 13px;
    text-align: center;
  }
  .delete-span {
    flex: 1;
    text-align: right;
  }
  .upcoming {
    color: rgba(21, 128, 61, 1);
    background-color: rgba(220, 252, 231, 1);
    width: min-content;
    border-radius: 5px;
  }

  .past {
    color: rgba(29, 78, 216, 1);
    background-color: rgba(219, 234, 254, 1);
    width: fit-content;
    border-radius: 5px;
  }

  .delete-event {
    background-color: transparent;
    outline: none !important;
    border: 0px;
    color: #e53e3e;
  }
  .delete-icon {
    height: 20px;
    width: 20px;
  }
  .delete-icon:hover {
    color: #dc0101;
  }
}

@media (max-width: 767px) {
  .stats-grid {
    flex-direction: column;
  }
  .admin-content {
    width: 100%;
  }
  .stat-card {
    width: 100%;
  }
  .admin-mobile {
    display: flex;
  }
  .mobile-create {
    background-color: #016bdc !important;
    padding: 5px 20px 5px 20px;
    border-radius: 50%;
  }
  .form-box {
    border-radius: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    scrollbar-width: none;
  }
  .event-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .form-top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
  }
  .form-top-box p {
    font-size: 1.5rem;
    font-weight: 900;
    color: #1a202c;
  }
  .form-top-box button {
    background-color: transparent;
    border: 0px;
    outline: none;
    color: #1a202c;
  }
  .close-icon {
    height: 30px;
    width: 30px;
  }
  .name-box {
    color: #1a202c;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .name-box label {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .name-box input {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #e5e7eb;
    background-color: transparent;
    font-size: 16px;
    color: #1a202c;
    border-radius: 10px;
  }
  .name-box textarea {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #e5e7eb;
    background-color: transparent;
    font-size: 16px;
    color: #1a202c;
    border-radius: 10px;
  }
  .name-box input:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #016bdc;
  }
  .name-box textarea:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #016bdc;
  }
  .organizer-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .organizer-box span {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
  }
  .organizer-box span label {
    font-size: 0.9rem;
    font-weight: 700;
    color: #1a202c;
  }
  .organizer-box span input {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #e5e7eb;
    background-color: transparent;
    font-size: 16px;
    color: #1a202c;
    border-radius: 10px;
  }
  .organizer-box span input:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #016bdc;
  }
  .send-form {
    border-top: 1px solid #e5e7eb;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .event-cancel-btn {
    background-color: transparent;
    border: 1px solid #e5e7eb;
    color: #1a202c;
    outline: none !important;
  }
  .event-cancel-btn:hover {
    border: 2px solid #dc0101;
  }
  .event-create-btn {
    background-color: #016bdc;
    color: white;
    outline: none !important;
  }
  .event-create-btn:hover {
    background-color: #0c81ff;
  }
  .error {
    color: #e53e3e;
    text-align: center;
  }
  .event-admin-box {
    background-color: white;
    border-radius: 13px;
    color: #1a202c;
    border: 2px solid #e5e7eb;
  }
  .search-event-box {
    padding: 10px;
  }
  .search-event-box input {
    background-color: #e2e8f0;
    border: 0px;
    outline: none;
    color: #1a202c;
    border-radius: 11px;
    height: 36px;
    width: 300px;
    padding: 5px;
    font-size: 14px;
  }
  .search-event-box h1 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .search-event-box p {
    color: rgba(100, 116, 139, 1);
  }
  .admin-event-list {
    list-style-type: none;
    margin-left: -40px;
  }
  .admin-event-list li {
    border-top: 1px solid rgba(226, 232, 240, 1);
    border-bottom: 1px solid rgba(226, 232, 240, 1);
  }
  .admin-event-list li:hover {
    background-color: rgba(248, 250, 252, 1);
  }

  .list-names {
    padding: 10px 20px 10px 20px;
    color: rgba(100, 116, 139, 1);
    display: flex;
    align-items: center;
    background-color: rgba(248, 250, 252, 1);
    justify-content: space-between;
  }

  .admin-event-img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }
  .action {
    text-align: right;
  }
  .list-items {
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list-name-image {
    flex: 2;
  }

  .list-item-image {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 2;
  }
  .list-item-name {
    font-size: 14px;
    color: #1a202c !important;
    font-weight: 600;
    line-height: 1;
  }
  .list-item-location {
    font-size: 12px;
    color: rgba(100, 116, 139, 1);
    font-weight: 300;
    line-height: 1;
  }
  .date-span {
    flex: 1;
    display: none;
    font-size: 14px;
    text-align: center;
  }

  .active-span {
    display: none;
    flex: 1;
    text-align: center;
    font-size: 14px;
  }
  .capacity-span {
    display: none;
    flex: 1;
    color: #1a202c;
    font-size: 13px;
    text-align: center;
  }
  .delete-span {
    flex: 1;
    text-align: right;
  }
  .upcoming {
    color: rgba(21, 128, 61, 1);
    background-color: rgba(220, 252, 231, 1);
    width: min-content;
    border-radius: 5px;
  }

  .past {
    color: rgba(29, 78, 216, 1);
    background-color: rgba(219, 234, 254, 1);
    width: fit-content;
    border-radius: 5px;
  }

  .delete-event {
    background-color: transparent;
    outline: none !important;
    border: 0px;
    color: #e53e3e;
  }
  .delete-icon {
    height: 20px;
    width: 20px;
  }
  .delete-icon:hover {
    color: #dc0101;
  }
}
