@media (min-width: 768px) {
  .event-details-bg-container {
    --tw-bg-opacity: 1;
    width: 100%;
    background-color: rgb(246 246 248 / var(--tw-bg-opacity, 1));
    min-height: 100vh;
  }
  .event-details-content {
    width: 100vw;
    --tw-bg-opacity: 1;
    background-color: rgb(246 246 248 / var(--tw-bg-opacity, 1));
    padding: 10px;
  }
  .failure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: black;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .event-details-container {
    color: black;
    width: 80%;
    margin: auto;
    margin-top: 80px;
  }
  .event-image-container {
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .event-details-category {
    background-color: rgba(58, 101, 233, 1);
    width: fit-content;
    border-radius: 15px;
    color: white;

    padding: 0px 10px 0px 10px;
  }
  .event-details-name {
    color: white;
    font-size: 60px;
    line-height: 1px;
  }
  .event-details-box {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
  }
  .event-details-box p {
    line-height: 1px;
  }
  .event-details-icon {
    height: 30px;
    color: rgba(58, 101, 233, 1) !important;
    width: 30px;
  }
  .event-details-top-box {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .event-details-bottom-box {
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
  }
  .event-details-mini-box {
    flex: 2;
  }
  .register-container-box {
    background-color: white;
    border-radius: 13px;
    margin-top: 30px;
    padding: 20px;
    flex: 1;
    --tw-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored:
      0 20px 25px -5px var(--tw-shadow-color),
      0 8px 10px -6px var(--tw-shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }
  .event-details-mini-top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 13px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid rgba(226, 232, 240, 1);
  }
  .mini-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .flex-box {
    line-height: 5px;
  }
  .flex-box p {
    font-weight: 600;
  }
  .flex-date {
    font-size: 12px;
    font-weight: 600;
    color: rgba(100, 116, 139, 1);
  }
  .event-details-mini-box-heading {
    font-size: 24px;
    font-weight: 700;
    border-left: 5px solid blue;
    border-radius: 4px;
    padding: 10px;
  }
  .event-details-mini-box-desc {
    color: gray;
    font-size: 18px;
  }
  .ticket-price {
    font-size: 16px;
    color: rgba(100, 116, 139, 1);
    font-weight: 600;
  }
  .per-person-price {
    font-size: 36px;
    font-weight: 700;
    line-height: 1px;
  }
  .per-person-price span {
    color: rgba(100, 116, 139, 1);
    font-size: 14px;
  }

  .result {
    font-weight: 600;
    color: orange;
  }
  .apply-btn {
    width: 90%;
    margin-left: 5%;
    outline: none !important;
    cursor: pointer;
    border: none;
    background-color: rgba(58, 101, 233, 1);
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
  }
  .block-btn {
    width: 90%;
    margin-left: 5%;
    outline: none !important;
    cursor: not-allowed;
    border: none;
    background-color: rgba(58, 101, 233, 1);
    font-weight: 600;
    padding: 20px;
    border-radius: 13px;
  }
  .apply-btn:hover {
    background-color: rgb(87, 126, 243);
  }
  .available-seats {
    color: rgba(100, 116, 139, 1);
    font-weight: 600;
  }
  .capacity {
    font-size: 34px;
    color: black;
    font-weight: 700;
  }
  .back-btn {
    background-color: rgba(58, 101, 233, 1);
    border-radius: 13px;
    outline: none;
    border: none;
    color: white;
  }
}

@media (max-width: 767px) {
  .event-details-bg-container {
    --tw-bg-opacity: 1;
    width: 100%;
    background-color: rgb(246 246 248 / var(--tw-bg-opacity, 1));
    min-height: 100vh;
  }
  .event-details-content {
    width: 100vw;
    --tw-bg-opacity: 1;
    background-color: rgb(246 246 248 / var(--tw-bg-opacity, 1));
    padding: 10px;
  }
  .failure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: black;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .event-details-container {
    color: black;
    width: 100%;
    margin: auto;
    margin-top: 80px;
  }
  .event-image-container {
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .event-details-category {
    background-color: rgba(58, 101, 233, 1);
    width: fit-content;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    padding: 0px 10px 0px 10px;
  }
  .event-details-name {
    color: white;
    font-size: 26px;
    line-height: 1px;
  }
  .event-details-box {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 600;
  }
  .event-details-box p {
    line-height: 1px;
    font-size: 14px;
  }
  .event-details-icon {
    height: 20px;
    color: rgba(58, 101, 233, 1) !important;
    width: 20px;
  }
  .event-details-top-box {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .event-details-bottom-box {
    padding-bottom: 20px;
  }

  .register-container-box {
    background-color: white;
    border-radius: 13px;
    margin-top: 30px;
    padding: 20px;
    --tw-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored:
      0 20px 25px -5px var(--tw-shadow-color),
      0 8px 10px -6px var(--tw-shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }
  .event-details-mini-top-box {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 13px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid rgba(226, 232, 240, 1);
  }
  .mini-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .flex-box {
    line-height: 5px;
  }
  .flex-box p {
    font-weight: 600;
  }
  .flex-date {
    font-size: 12px;
    font-weight: 600;
    color: rgba(100, 116, 139, 1);
  }
  .event-details-mini-box-heading {
    font-size: 24px;
    font-weight: 700;
    border-left: 5px solid blue;
    border-radius: 4px;
    padding: 10px;
  }
  .event-details-mini-box-desc {
    color: gray;
    font-size: 16px;
  }
  .ticket-price {
    font-size: 16px;
    color: rgba(100, 116, 139, 1);
    font-weight: 600;
  }
  .per-person-price {
    font-size: 30px;
    font-weight: 700;
    line-height: 1px;
  }
  .per-person-price span {
    color: rgba(100, 116, 139, 1);
    font-size: 14px;
  }

  .result {
    font-weight: 600;
    color: orange;
  }
  .apply-btn {
    width: 90%;
    margin-left: 5%;
    outline: none !important;
    cursor: pointer;
    border: none;
    background-color: rgba(58, 101, 233, 1);
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
  }
  .block-btn {
    width: 90%;
    margin-left: 5%;
    outline: none !important;
    cursor: not-allowed;
    border: none;
    background-color: rgba(58, 101, 233, 1);
    font-weight: 600;
    padding: 20px;
    border-radius: 13px;
  }
  .apply-btn:hover {
    background-color: rgb(87, 126, 243);
  }
  .available-seats {
    color: rgba(100, 116, 139, 1);
    font-weight: 600;
  }
  .capacity {
    font-size: 30px;
    color: black;
    font-weight: 700;
  }
  .back-btn {
    background-color: rgba(58, 101, 233, 1);
    border-radius: 13px;
    outline: none;
    border: none;
    color: white;
  }
}
