@media (min-width: 768px) {
  .event-details-bg-container {
    display: flex;
  }
  .event-details-content {
    width: 85vw;
    background-color: white;
  }
  .failure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .event-details-container {
    color: black;
    width: 90%;
    margin: 10% auto 10px auto;
    border-radius: 10px;
    border: 1px solid rgb(224, 221, 221);
    padding: 10px;
    box-shadow: 0px 0 2px rgb(224, 221, 221);
  }
  .event-details-container p {
    color: gray;
  }
  .seats {
    color: red !important;
    font-weight: bold;
  }

  .event-details-container button {
    border: 0px;
    background-image: linear-gradient(to left, rgb(164, 164, 247), blue);
    outline: none;
    cursor: pointer;
  }
  .result {
    color: green !important;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  .event-details-content {
    background-color: white;
  }
  .failure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: black;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .event-details-container {
    color: black;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    border: 1px solid rgb(224, 221, 221);
    padding: 15vh 10px 10px 10px;
    box-shadow: 0px 0 2px rgb(224, 221, 221);
  }
  .event-details-container p {
    color: gray;
  }
  .seats {
    color: red !important;
    font-weight: bold;
  }

  .event-details-container button {
    border: 0px;
    background-image: linear-gradient(to left, rgb(164, 164, 247), blue);
    outline: none;
    cursor: pointer;
  }
  .result {
    color: green !important;
    font-weight: bold;
  }
}
