@media (min-width: 768px) {
  .header-container {
    background-color: white;
    height: 100vh;
    width: 15vw;
    padding: 10px;
    border-right: 1px solid rgb(206, 202, 202);
  }
  .header-text {
    color: black;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .icon {
    color: blue;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
  }
  .nav-link {
    color: gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .active-tab {
    background-color: rgba(171, 171, 247, 0.388);
    color: blue;
  }
  .mobile-header button {
    display: none;
  }
  .profile {
    color: black;
    background-color: rgb(46, 128, 3);
    border-radius: 1000px;
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile h1 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .header-container {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid rgb(206, 202, 202);
  }
  .profile {
    display: none;
  }
  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-text {
    color: black;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .icon {
    color: blue;
  }
  .nav-items {
    display: flex;

    gap: 20px;
  }
  .nav-link {
    color: gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .active-tab {
    background-color: rgba(171, 171, 247, 0.388);
    color: blue;
  }
  .mobile-header button {
    background-color: blue;
    color: white;
  }
}
